absl-py==0.12.0
attrs==21.2.0
cached-property==1.5.2
cachetools==4.2.2
cattrs==1.0.0
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
future==0.18.2
google-auth==1.30.0
google-auth-oauthlib==0.4.4
grpcio==1.37.1
h5py==3.2.1
idna==2.10
importlib-metadata==4.0.1
Markdown==3.3.4
mlagents==0.26.0
mlagents-envs==0.26.0
numpy==1.20.2
oauthlib==3.1.0
Pillow==8.2.0
protobuf==3.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pypiwin32==223
pywin32==300
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cu101
torchvision==0.7.0+cu101
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==1.0.1
zipp==3.4.1
